{% extends "base.html" %}
{% block title %}
{% endblock %}


{% block body %}
<h1>Library</h1>
<h2>Add new book</h2>
<form action="/addbook" method="POST" enctype="multipart/form-data" accept="pdf">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <label  class="d-block" for="title">Tilte</label>
    <input class="d-block" type="text" name="title">
    <label for="author">Author</label>
    <input class="d-block" type="text" name="author">
    <label class="d-block" for="year">Year</label>
    <input class="d-block" type="year" name="year">
    <input type="file" name="file" />
    <input type="submit" value="Upload"/>
</form>
<h2>Book list</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th class="action"></th>
    </tr>
    {% for book in books%}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
        <td class="action"><a class='btn primary' href="/read/{{book.id}}" target="_blank">R</a><a class='btn secondary' href="/update/{{book.id}}">U</a><a class='btn danger' href="/delete/{{book.id}}">D</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock%}